.flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name 
            = current_user.name
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              =link_to "/groups/new"do
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              =link_to "/users/1544/edit"do
                %i.fa.fa-cog
      .groups
        =link_to "/groups/3302/messages"do
          .group
          - current_user.groups.each do |group|
            %p.group__group-name 
            = group.name
            %p.group__latest-message まだメッセージがありません