.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  position: relative;
  width: 100%;
}

.form form {
  display: flex;
  width: 100%;
}

.form__message {
  height: 50px;
  width: 100%;
  padding: 0 40px 0 10px;
  color: #434a54;
  border-style: none;
}

.form__mask{
  position: relative;
}

.form__mask__image {
  height: 50px;
  width: 100%;
  color: #434a54;
  border-style: none;
}

.icon {
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.hidden{
  display: none;
}

.form__submit {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}

.Send{
  display: flex;
}